initGame.js
	hideNativeSplash() {
		if (CC_JSB) {
			if (cc.sys.os == cc.sys.OS_ANDROID) {
				jsb.reflection.callStaticMethod("org/cocos2dx/javascript/AppActivity", "hideSplash", "()V");
			}
		}
	}

	start() {
		this.scheduleOnce(() => {
				this.hideNativeSplash();
		}, 1);
	}


网站
	https://forum.cocos.com/t/cocos-creator-android-2/83154

纯色背景
    android:theme="@style/BgSplashStyle"
    参考 BgSplashActivity.java
图片背景
	android:theme="@style/ImageSplashStyle"
	参考 ImageSplashActivity.java
纯色 + 图片
	android:theme="@style/SloganSplashStyle"
	参考 SloganSplashActivity.java